{% extends 'base.html.twig' %}

{% block title %}Devis en ligne - {{ parent()}}
{% endblock %}
{% block body %}

<ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" >Nos Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('entreprise_devis')}}">Devis</a>
        </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">
        {{ form_start(formDevis) }}
            {{ form_row(formDevis.relation, {'select' : false, 'attr' :{'placeholder' :'Categorie d\'Objets collectés' }})}}
            {{ form_row(formDevis.ObjectCollecte, {'select' : false, 'attr' :{'placeholder' :'Objets collectés' }})}}
            {{ form_row(formDevis.ObjectCollecte.quantite, {'select' : false, 'attr' :{'placeholder' :'Quantité' }})}}
            <button type='submit' name="devis" class="btn btn-success">Recycler cet objet</button>
        {{ form_end(formDevis) }}

    </div>
</div>
{% endblock %}
{% block javascript %}
            {{ parent }}
    <script>
        $('select#form_devisType').on('change', function (e) {
        var $devis = $('#categorieCollecte');
        // When category gets selected ...
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected Category value.
            var data = {};
            data[$devis.attr('name')] = $devis.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#categorie').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#categorieCollecte')
                    );
                    // Position field now displays the appropriate category.
                }
            });
        });
        var $devis = $('#ObjetCollecte');
        // When category gets selected ...
        $devis.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected Category value.
            var data = {};
            data[$devis.attr('name')] = $devis.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#objectCollecte').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#objectCollecte')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });

    </script>


    