{% extends 'base.html.twig' %}

{% block title %}Espace entreprise - {{ parent() }}{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('../assets/entreprise/espace-entreprise.css')}}">
{% endblock %}

{% block body %}

    <div id="espace-entreprise">
        <ul id="nav-onglets-entreprises" class="nav nav-pills row" id="pills-tab">
            <li class="nav-item item-entreprise active col-6">
                <a class="nav-link active w-100" id="services-tab"  href="{{path('entreprise_services')}}">Nos Services </a>
            </li>
            <li class="nav-item item-entreprise col-6">
                <a class="nav-link w-100" id="devis-contact-tab" href="{{path('entreprise_devis')}}">Demande de devis</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="services" class="tab-pane active">
                <div class="text-center">
                    <h2>Eco Service propose de nombreuses solutions</h2>
                    <img class="image-services-entreprise" src={{ asset('../assets/img/collecte-dechets.jpg') }}>
                    <h3>Collecte de déchets</h3>
                    <p class="">
                        Eco service propose une solution très avantageuse pour nos entreprises partenaires. En effet, nous 
                        récuperons tous vos déchets gratuitements. Pour cela, nous vous invitons à vous inscrire en tant qu'entreprise 
                        sur ce site internet puis de remplir le formulaire dans la section "demande de devis".
                        Vous pouvez ainsi indiquer toutes les caractéristiques de votre demande et nous arrangerons pour
                        les respecter au mieux.
                        C'est un partenariat gagnant-gagnant pour tous !
                    </p>
                </div>
                <br>
                <div class="text-center">
                    <img class="image-services-entreprise" src={{ asset('../assets/img/recyclage.jpg') }}>
                    <h3>Traitement des déchets</h3>
                    <p class="">
                    Eco-service collecte vos déchets et les achemine jusqu’à ses centres de tri. Là, ils sont immédiatement pesés. 
                    Les containers de papiers et cartons – qui constituent 85% des déchets de bureau – font l’objet d’un sur-tri 
                    afin avant d’être transporté vers nos partenaires papetiers qui les recyclent. 
                    Les containers d’autres déchets sont, eux, transférés directement vers nos autres partenaires spécialisés ; 
                    chaque type de déchets suit des méthodes de recyclage bien spécifiques.
                    </p>
                </div>
                <br>
                <div class="text-center">
                    <img class="image-services-entreprise" src={{ asset('../assets/img/fabrication-alt.jpg') }}>
                    <h3>Fabrication</h3>
                    <p class="">
                    En quoi sont transformés tous ces matériaux à recycler ?
                    Certains déchets recyclables renaîtront sur leur forme première, d’autres seront transformés et réintégrés dans des biens totalement différents. Ainsi :
                    Les papiers et cartons sont recyclés à 80% sous forme de papier : journaux, prospectus, cahiers…
                    Les plastiques – PEHD et le PET – servent à produire de nouvelles bouteilles et bidons en plastique. Mais, on peut fabriquer avec bien d’autres produits comme des pots de fleurs, des bancs, des pare-chocs de voiture ou encore des vêtements en fibres synthétiques ou des rembourrages de couettes ou d’oreillers.
                    Le verre est utilisé essentiellement pour fabriquer de nouveaux contenants en verre mais entre aussi dans la fabrication d’autres produits comme la laine de verre, un isolant bien connu.
                    Les métaux   – acier et aluminium – peuvent être recyclés en boîtes de conserve et canettes ou être utilisés dans diverses industries pour la fabrication de boules de pétanques, de pièce de moteur d’automobile, de machines à laver, de fer à repasser, etc
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
