{% extends 'base.html.twig' %}

{% block title %}Nos services - {{ parent() }}
{% endblock %}
{% block body %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" >Nos Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('entreprise_devis')}}">Devis</a>
        </li>
    </ul>


        <div class="text-center">
            <h2>Eco Service propose de nombreuses solutions</h2>
            <img class="d-block w-100" src={{asset('http://placehold.it/75x25')}}>
            <h4>Collecte de déchets</h4>
        </div>
        <br>
        <div class="text-center">
            <img class="d-block w-100" src={{asset('http://placehold.it/75x25')}}>
            <h4>Traitement des déchets</h4>
        </div>
        <br>
        <div class="text-center">
            <img class="d-block w-100" src={{asset('http://placehold.it/75x25')}}>
            <h4>Manutention</h4>
        </div>
    </div>

{% endblock %}
