{% extends 'base.html.twig' %}

{% block title %}Admin - {{ parent() }}{% endblock %}

{% block body %}
<ul>
    <li><a href="{{ path('afficher_admin') }}" >Afficher Admin</a></li>
    <li><a href="{{ path('articles_admin')}}">Afficher Article</a></li>
    <li><a href="{{ path('admin_produits')}}">Afficher Produit</a></li>
    <li><a href="{{ path('admin_categorie_produits')}}">Afficher Catégorie Produit</a></li>
    <li><a href="{{ path('admin_collecte_categorie')}}">Afficher Catégorie Collecte</a></li>
    <li><a href="{{ path('admin_sous_categorie')}}">Afficher sousCategorie</a></li>
</ul>
{% endblock %}
