{% extends 'base.html.twig' %}

{% block title %}Entreprise - {{ parent() }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Page d'accueil entreprise</h1>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="{{ path('entreprise_services') }}" role="tab" aria-controls="pills-home" aria-selected="true">Nos Services </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="{{ path('entreprise_devis') }}" role="tab" aria-controls="pills-profile" aria-selected="false">Demande de devis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="{{ path('entreprise_contact') }}" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
            </li>
        </ul>

        A faire
        <ul>
            <li>Your controller at <code><a href="{{ '/application/src/Controller/EcoServiceController.php'|file_link(0) }}">src/Controller/EcoServiceController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/application/templates/eco_service/entreprise_index.html.twig'|file_link(0) }}">templates/eco_service/entreprise_index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
