{% extends 'base.html.twig' %}

{% block additional_stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{asset('../assets/admin.css')}}">

{% endblock %}

{% block body %}
    <div id="admin-add-categorie">
        {{ form_start(formCategorieProduit) }}

        {{ form_row(formCategorieProduit.nom, {'label' : 'Nom de la catégorie :','attr' : {'placeholder' : "catégorie"}}) }}
        {# {{ form_row(formCategorieProduit.UtilisateurAdmin, {'label' : 'utilisateur:','attr' : {'placeholder' : "utilisateur"}}) }} #}

        <button type="submit" class="btn btn-success ">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter la catégorie
            {% endif %}
        </button>

        {{ form(formCategorieProduit) }}
    </div>
{% endblock %}