{% extends 'base.html.twig' %}

{% block title %}Magasin - {{ parent() }}{% endblock %}

{% block body %}
    <form action="{{ path('magasin_search') }}" method="get">
        <input class="form-control mr-sm-2" type="text" name="name" id="name" required>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Rechercher">
    </form>

<div class="products">
    {% if produits != [] %}
        {% for produit in produits %}
            {{ produit.nomProduit }} - {{ produit.prixUnitaireHT }}€ - {{ produit.tauxTVA }}% - {{ produit.presentation }} - {{ produit.descriptionDetaillee }}
            <br>
            <input id="{{ produit.id }}" type="number" name="quantite" value=1 >
            <a id="{{ produit.id }}" class="btn btn-success"><i class="fa fa-shopping-cart mr-1"> Ajouter au panier</i></a>
            <br><br>
        {% endfor %}
    {% else %}
        Aucun produit n'a été trouvé.
    {% endif %}
</div>

{% for categ in categories %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="dropdown-item" href="{{ path('categorie_produit', {'id': categ.id }) }}">{{ categ.nom }}</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for souscateg in categ.sousCategorieProduits %}
                <a class="dropdown-item" href="{{ path('sous_categorie_produit', {'id': souscateg.id }) }}">{{ souscateg.nom }}</a>
            {% endfor %}
        </div>
    </div>
    <br>
{% endfor %}

{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>
        $('.btn.btn-success').click(function() {
            let id = $(this).attr('id');
            let value = $("#"+id+"[name='quantite']").val();

            $.ajax({
                url : '/panier/add/'+ id,
                type : 'GET',
                data : {
                    quantite: value
                },
                dataType: "integer",
                success: function(response) {
                    // console.log(response);
                }
            });
            alert('Le produit a bien été ajouté au panier'); 
        });

    </script>
{% endblock %}