{% extends 'base.html.twig' %}

{% block title %}Produit - {{ parent() }}{% endblock %}

{% block body %}
<div>
    <h1>{{ produit.nomProduit }}</h1>

    <p>
        Présentation : {{ produit.presentation }}<br/>
        Description : {{ produit.descriptionDetaillee }}
    </p>
    <a href="{{ path('panier_add', {'id' : produit.id}) }}" class="btn btn-success"><i class="fa fa-shopping-cart mr-1"> Ajouter au panier</i></a>
</div>
{% endblock %}
