{% extends 'base.html.twig' %}

{% block title %}Produit - {{ parent() }}{% endblock %}

{% block body %}
<div>
    <h1>{{ produit.nomProduit }}</h1>

    <p>
        Présentation : {{ produit.presentation }}<br/>
        Prix HT : {{ produit.prixUnitaireHT }}€ - TVA : {{ produit.tauxTVA }}% <br/>
        Prix TTC : {{ (produit.prixUnitaireHT * (1 + produit.tauxTVA)) }}€ <br/>
        Description : {{ produit.descriptionDetaillee }} <br/>
    </p>
    {# TODO: champ de sélection de quantité qu'on veut ajouter au panier#}
    <a href="{{ path('panier_add', {'id' : produit.id}) }}" class="btn btn-success"><i class="fa fa-shopping-cart mr-1"> Ajouter au panier</i></a>
</div>
{% endblock %}
