{% extends 'base.html.twig' %}

{% block title %}Profil - {{ parent() }}{% endblock %}


{% block body %}
    Modifier mon adresse
    <hr>
    {{ form_start(form) }}
    {{ form(form) }}
    <a href="{{ path('profil_client') }}" class="btn btn-danger">Abandonner</a>
    {{ form_end(form) }}
{% endblock %}
