{% extends 'base.html.twig' %}

{% block additional_stylesheets %}

	<link rel="stylesheet" type="text/css" href="{{asset('../assets/admin.css')}}">

{% endblock %}

{% block body %}
	<div id="admin-blog">
		<table class="table">
			<thead class="thead-light">
			<tr>
				<th scope="col">Nom de l'article</th>
				<th scope="col">Date de l'article</th>
				<th scope="col">Options</th>
			</tr>
			</thead>
			<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.titre }}</td>
					<td>{{ article.date|date("d/m/Y") }}</td>
					<td>
						<i class="fa fa-pencil fa-2x" onclick="window.location.href = '/admin/article/{{ article.id }}/edit';"></i>
						<i class="fa fa-trash fa-2x" onclick="window.location.href = '/admin/article/{{ article.id }}/delete';"></i>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="btn" onclick="window.location.href = '{{ path('add_article_admin') }}';">Ajouter un article</div>
	</div>
{% endblock %}

