{% block header %}
    <div id="header">
        <nav class="navbar navbar-expand-md">
            <!-- Logo -->
            <a href="{{ path("home") }}" title="Retour à l'accueil">
                <img src="{{asset('../assets/img/Logo_Eco-Service_Line.png')}}"  height="60" border="0">
            </a>

            <!-- TODO : BARRE DE RECHERCHE ICI -->

            <!-- Barre de navigation -->
            <div class="navbar-nav navbar-nav-container">
                <a class="nav-link" id="shopping-cart-icon" href="{{ path('panier') }}" title="Accéder au Panier">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                </a>

                <button class="nav-link navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <i class="fa fa-bars fa-2x"></i>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('faq') }}">Aide</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
{% endblock %}
