{% extends 'base.html.twig' %}

{% block title %}Panier - {{ parent() }}{% endblock %}

{% block additional_stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('../assets/achat/panier.css') }}">

{% endblock %}

{% block body %}
    <div class="p-3">
        <h1>Votre panier</h1>
    </div>

    {% if items | length > 0 %}
        <table id="table-produits-panier">
            <thead id="produits-panier-header">
            <tr>
                <th width="20%">Produit</th>
                <th width="80%">Informations et Quantité</th>
            </tr>
            </thead>
            <tbody id="produits-panier-body">
            {% for item in items %}
                <tr>
                    <td>
                        <div class="nom-produit-panier">
                            <p>{{ item.product.nomProduit }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="infos-produit-panier row d-flex">
                            <div class="prix-unitaire-produit col-sm-12 col-md-2">
                                <p>
                                    {{ (((item.product.prixUnitaireHT * (1 + item.product.tauxTVA / 100))|round(2))|number_format(2)) }}
                                    € / unité
                                </p>
                            </div>
                            <div class="quantite-produit col-sm-12 col-md-10 row">
                                <input class="quantite-produit-input" id="{{ item.product.id }}" type="number"
                                       name="quantite" value={{ item.quantity }}>
                                <a class="bouton-update quantite-produit-refresh btn btn-success update"
                                   id="{{ item.product.id }}"><i class="fa fa-shopping-cart mr-1"></i> Mettre à jour le
                                    panier</a>
                                <div class="bouton-suppression-produit">
                                    <a href="{{ path('panier_remove', {'id': item.product.id}) }}"
                                       class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="produits-panier-foot">
            <h5 colspan="3" class="text-right">
                Total : {{ (((total)|round(2))|number_format(2)) }}€
            </h5>
        </div>

        <a class="quantite-produit-refresh" href="{{ path('panier') }}">Mettre à jour le total</a>
        <a href="{{ path('panier_paiement') }}" class="quantite-produit-refresh"><i class="fa fa-paypal"></i> Payer</a>

        <div id="emptyspace" style="height:150px">

        </div>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.btn.btn-success.update').click(function () {
            let id = $(this).attr('id');
            let value = $("#" + id + "[name='quantite']").val();

            $.ajax({
                url: '/panier/remove/' + id,
                type: 'GET',
                data: {
                    quantite: value
                },
                dataType: "integer",
                success: function (response) {

                }
            });
            $.ajax({
                url: '/panier/ajouter/' + id,
                type: 'GET',
                data: {
                    quantite: value
                },
                dataType: "integer",
                success: function (response) {
                    // console.log(response);
                }
            });

            alert('La quantité a bien été mise à jour');
        });
    </script>
{% endblock %}
