{% extends 'base.html.twig' %}

{% block title %}Profil -{{parent()}}
{% endblock %}
{% block body %}

<p>Compte Entreprise</p>
	<hr>
	<div class="user-info">
        <label>Numéro de siret</label>
        {{ form_widget(form.siret, {'disabled':'disabled'}) }}
        <label>Raison sociale</label>
        {{ form_widget(form.raisonSociale, { 'disabled':'disabled'}) }}
        <label>Fontion du représentant</label>
        {{form_widget(form.fonctionRepresentant, {'disabled':'disabled'}) }}
        <label>Nom du représentant</label>
        {{form_widget(form.nom, {'disabled':'disabled'}) }}
        <label>Prénom du représentant</label>
        {{form_widget(form.prenom, {'disabled':'disabled'}) }}
        <label>Téléphone</label>
        {{form_widget(form.telephone, {'disabled':'disabled'}) }}
        <label>E-mail</label>
        {{form_widget(form.email, {'disabled':'disabled'}) }}
        <button type='button' class="btn btn-outline-success">Modifier mes informations</button>
	</div>
</p>
{% endblock %}