{% extends 'base.html.twig' %}

{% block title %}Profil -{{parent()}}{% endblock %}
{% block body %}
<p>Compte Particulier<p>
<hr>
<div class="user-info">
	<div class="perso">
		<label>Civilité</label>{{ form_widget(form.civilite, {'disabled':'disabled'}) }}
		<label>Nom</label>{{ form_widget(form.nom, { 'disabled':'disabled'}) }}
		<label>Prénom</label>{{form_widget(form.prenom, {'disabled':'disabled'}) }}
		<label>Téléphone</label>{{form_widget(form.telephone, {'disabled':'disabled'}) }}
		<label>E-mail</label>{{form_widget(form.email, {'disabled':'disabled'}) }}
		<a  class="btn btn-outline-success" href="{{ path('client_edit') }}">Modifier mes informations</a>
	</div>
	<hr>
	<p>
		<i class="fa fa-address-book"></i> Mes adresses
		<a href="{{path('adresse_new')}}" class="btn btn-secondary">Ajouter une adresse</a>
	</p>
	<div class="table-responsive">
		<table class="table">
			<tbody>
			{% for adresse in Adresse %}
				<tr>
					<td>{{adresse.nom}}</td>
					<td>{{adresse.numeroRue ~ ' '~ adresse.typeRue ~ ' '
						~ adresse.nomRue ~ ' '~ adresse.CP ~ ' '~ adresse.Ville}}</td>
					<td>
						<i class="fa fa-pencil"></i>
						<a href="/profil/adresse/{{adresse.id}}/edit">
							Modifier</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<hr>
	<p>
		<i class="fa fa-address-book"></i> Historique des commandes
	</p>
	<div class="table-responsive">
		<table class="table">
			<tbody>
				{% for commande in commandes %}
					{% dump(commande) %}
					<tr>
						<td>{{ commande.date | date("d/m/Y") }}</td>
						<td>{% if commande.isSend == 0 %}En attente de traitement{% else %}Envoyée{% endif %}</td>
						<td><button type="button" class="btn btn-primary"><a href="{{ path('show_command', {'id' : commande.id}) }}">Voir</a></button></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
